**

!package.json
!package-lock.json

!server/
!server/*.js

!index.html
!styles.css
!build-profile.js
!multiplayer-protocol.js
!online-config.js
!localization.js
!game.js
!progression.js
!hordeheart-model.js
!land-eater-model.js

!locales/
!locales/*.js

!vendor/
!vendor/three.min.js
